# Enable rewrite engine & Set the base URL for the application

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /revenuesure/

    RewriteCond %{REQUEST_URI} !^documents/actions/.*$

    # Exempt assets and actions directories
    RewriteRule ^(assets|documents/actions|reminders/actions|api|mail/actions)/ - [L]

    # Enforce default routes
    RewriteRule ^dashboard/?$ dashboard/index [L]
    RewriteRule ^settings/?$ settings/index [L]
    RewriteRule ^(categories)$ $1/manage [L,R=301]
    RewriteRule ^(contracts)$ $1/manage [L,R=301]
    RewriteRule ^(credits)$ $1/manage [L,R=301]
    RewriteRule ^(customers)$ $1/manage [L,R=301]
    RewriteRule ^(dashboard)$ $1/index [L,R=301]
    RewriteRule ^(departments)$ $1/manage [L,R=301]
    RewriteRule ^(discussions)$ $1/manage [L,R=301]
    RewriteRule ^(employees)$ $1/manage [L,R=301]
    RewriteRule ^(expenses)$ $1/manage [L,R=301]
    RewriteRule ^(invoices)$ $1/manage [L,R=301]
    RewriteRule ^(knowledge_base)$ $1/manage [L,R=301]
    RewriteRule ^(leads)$ $1/search [L,R=301] #Todo: Need to develop a manage all leads page
    RewriteRule ^(notifications)$ $1/manage [L,R=301] #Todo: Need to develop a manage all notifications page
    RewriteRule ^(profile)$ $1/manage [L,R=301]
    RewriteRule ^(projects)$ $1/manage [L,R=301]
    RewriteRule ^(reminders)$ $1/manage [L,R=301]
    RewriteRule ^(reports)$ $1/manage [L,R=301]
    RewriteRule ^(messaging)$ $1/index [L,R=301]
    RewriteRule ^(documents)$ $1/index [L,R=301]

    RewriteRule ^support_tickets/?$ support_tickets/manage [L,R=301]
    RewriteRule ^support_tickets/ticket_tasks/?$ support_tickets/ticket_tasks/manage [L,R=301]
    

    # Add more rules for other directories as needed

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
</IfModule>

# Prevent direct access to the .env file
<Files .env>
    Order Allow,Deny
    Deny from all
</Files>

# <Directory assets>
#     Options -Indexes
# </Directory>

Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin-when-cross-origin"

AddType text/css .css

Options -Indexes

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|woff2?)$">
  <IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 week"
  </IfModule>
  <IfModule mod_headers.c>
    Header append Cache-Control "public"
  </IfModule>
</FilesMatch>